.list-group-item {
    text-align: center;
    margin: 10px;
}

.list-group-item:hover {
    text-align: center;
    margin: 10px;
    background-color: #f5c6cb;
}

.list-group {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 50%;
}

.TicTacToe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.TicTacToePlayingField {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
}

.row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 33%;
}

.TicTacToeCell {
    border: 1px solid black;
    width: 33%;
    height: 100%;
}

.TicTacToeCell:hover {
    background-color: aqua;
}

.Tic {
    background: url("../img/cross.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    width: 33%;
    height: 100%;
}

.Tac {
    background: url("../img/zero.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    width: 33%;
    height: 100%;
}
